#json-visual-editor {
    padding: 0.5rem;
    width: 95vw;
    max-width: 800px;
}

input {
    background-color: #111;
    padding: 0.5rem;
    border: none;
    color: white;
    font-family: monospace;
    font-size: 1rem;
}

input:focus {
    background-color: rgb(14, 14, 14);
    outline: 1px solid rgb(191, 198, 167);;
  }