.tabs {
    padding: 0.5rem;
    margin: 5px;
}

.tab-handle {
    display: inline-block;
    box-sizing: content-box;
    /* border: 2px solid rgb(113, 102, 72); */
    padding: 1rem;
    margin-right: 0.5rem;
    font-size: 5rem;
    color:rgb(225, 228, 181)
}


.tab-handle-active {
    background-color: #2e312d;
    font-weight: 900;
    transition: all 200ms ease;
}

.tab-handle-inactive {
    background-color: transparent;
    transition: all 200ms ease;
    text-decoration: underline;
}

.tab-handle-inactive:hover {
    cursor: pointer;
    color: #a7aa7a;
}

.tab-body-active {
    position:absolute;
    top: calc(31px + 8.5rem);
    left: calc(5px + 1rem);
    transition: all 300ms ease;
}

.tab-handle-active:hover {
    cursor: default;
}

.tab-body-inactive {
    position:absolute;
    display: none;
    transition: all 500ms ease;
}

.tab-body-active[data-highlight=true] {
    background-color: #2e312d;
    transition: all 300ms ease;
}

.tab-body-active[data-highlight=false] {
    transition: all 300ms ease;
}

